# flyctl launch added from .gitignore
**/.gradle
**/build
!**/build/libs
!**/gradle/wrapper/gradle-wrapper.jar
!**/**/src/main/**/build
!**/**/src/test/**/build

### IntelliJ IDEA ###
**/.idea/modules.xml
**/.idea/jarRepositories.xml
**/.idea/compiler.xml
**/.idea/libraries
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out
!**/**/src/main/**/out
!**/**/src/test/**/out

### Kotlin ###
**/.kotlin

### Eclipse ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/bin
!**/**/src/main/**/bin
!**/**/src/test/**/bin

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle

### VS Code ###
**/.vscode

### Mac OS ###
**/.DS_Store

# Local env
**/local

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Environment-dependent path to Maven home directory
.idea/mavenHomeManager.xml
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
